:root { 
    /* variables para cambiar los temas de las plantillas */
    --font-size:1.4;
    --font-color:rgb(0,0,0);
    /* variables para los colores */
    --header-color: #2c3e50;
    --primary-color:#2c3e50;
    --secondary-color:#2c3e50;
    --filas-color: #27ae60;
    --destacados-color:#ffff;
    --destatitle-color: #ecf0f1;
}